{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container" >
        {% for article in post %}
            <div class="row">
                <h1>{{article.title}}</h1>
                <div class="row">
                <h5>Created by {{article.users.username}}, at {{article.createdAt|date("m/d/Y")}}</h5>
                    {% if is_granted("ROLE_BLOGGER") %}
                        <a href="{{path("update-post",{"id": article.id}) }}">Edit</a>
                    {% endif %}
                </div>
                <img src="{{asset('static/images/article/'~ article.picture)}}">
                <p>{{article.content}}</p>
            </div>
            {% if app.user %}
                <div class="row">
                    <h2>Add comments</h2>
                    <form action="{{path("create-comment",{"id": article.id}) }}" method="POST">
                        <div>
                            <textarea id="textarea1" name="content" required ></textarea>
                            <label for="textarea1">Content</label>
                        </div>
                        <button type="submit" name="action">Submit</button>
                    </form>
                </div>
            {% endif %}
            
            <div class="row">
                <h2>Comments</h2>
                
                {% for post in article.comment %}
                    <span>Created by {{post.users.username}}, at {{post.createdAt|date("m/d/Y")}}</span>
                    <p>{{post.content}}</p>
                    {% if is_granted("ROLE_USER") and post.users.username == app.user.username %}
                        <form method="POST" action="{{path("delete-comment",{"user": post.users.id, "post": article.id  , "id": post.id}) }}" >
                            <button type="submit" name="action">
                                Delete
                            </button>
                        </form>
                    {% endif %}
                    {% if is_granted("ROLE_BLOGGER") or is_granted("ROLE_ADMIN") %}
                        <form method="POST" action="{{path("delete-comment",{"user": post.users.id, "post": article.id  , "id": post.id}) }}" >
                            <button type="submit" name="action">
                                Delete
                            </button>
                        </form>
                    {% endif %}
                    <hr>
                {% endfor %}
                
            </div>
        {% endfor %}
    </div>

{% endblock %}
