{% extends 'base.html.twig' %}

{% block title %}Ultimate Blog - Post{% endblock %}

{% block body %}
    <div class="container" >
        {% for article in post %}
            <div style="display: flex;flex-direction: column;">
                <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center;">
                    <h2 style="color: #337ab7;margin-bottom: 0;">{{article.title}}</h2>
                    {% if is_granted("ROLE_BLOGGER") %}
                        <a href="{{path("update-post",{"id": article.id}) }}">Edit</a>
                    {% endif %}
                </div>
                <h6 style="margin-top: 0;">Created by <b>{{article.users.username}}</b>, at {{article.createdAt|date("m/d/Y")}}</h6>
                <br>
                <img style="max-width: 100%; max-height: 300px; margin: auto;" src="{{asset('static/images/article/'~ article.picture)}}">
                <br>
                <p>{{article.content}}</p>
            </div>
            {% if app.user %}
                <h2>Add comment</h2>
                <form action="{{path("create-comment",{"id": article.id}) }}" method="POST">
                    <div>
                        <label for="textarea1">Content</label>
                    </div>
                    <div>
                        <textarea id="textarea1" name="content" required style="width: 100%;height: 60px;margin-bottom: 20px; margin-top: 10px;"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" name="action">Submit</button>
                </form>
                <br>
                <br>
            {% endif %}
            
            <div>
                <h2>Comments</h2>
                {% for post in article.comment %}
                    <span>Created by <b>{{post.users.username}}</b>, at <i>{{post.createdAt|date("m/d/Y")}}</i></span>
                    <p>{{post.content}}</p>
                    {#{% if is_granted("ROLE_USER") and post.users.username == app.user.username %}
                        <form method="POST" action="{{path("delete-comment",{"user": post.users.id, "post": article.id  , "id": post.id}) }}" >
                            <button class="btn btn-primary" type="submit" name="action">
                                Delete
                            </button>
                        </form>
                    {% endif %}#}
                    {% if is_granted("ROLE_BLOGGER") or is_granted("ROLE_ADMIN") %}
                        <form method="POST" action="{{path("delete-comment",{"user": post.users.id, "post": article.id  , "id": post.id}) }}" >
                            <button class="btn btn-primary" type="submit" name="action">
                                Delete
                            </button>
                        </form>
                    {% endif %}
                    <hr>
                {% endfor %}
                
            </div>
        {% endfor %}
    </div>

{% endblock %}
